#{extends 'menu.html' /}
#{set title:'Harga Obat' /}
#{ifErrors}
   <span class="error">Oops</span>
#{/ifErrors}
#{form @StokControl.saveHarga(), method:'POST', id:'hargaForm'}
<div class="yui3-g" id="entri">
<fieldset><legend>Entri Harga Obat #{if idObatAlat!=null}<span class="error">(UPDATE)</span>#{/if}</legend>
<div class="yui3-u-1-6"><div class="entriClass label">Obat Alat</div></div>
<div class="yui3-u-5-6"><div class="entriClass">#{autocomplete id:'idObatAlat',name:'idObatAlat',url:@StokControl.autocompleteKodeObat(),size:'50',value:idObatAlat,label:namaObatAlat/}</div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Volume</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input type="text" id="volume" name="volume" readonly="readonly"/></div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Tahun-Bulan Harga</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input id="thnBlnHarga" name="thnBlnHarga" readonly="readonly"/></div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Harga Rata-rata</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input type="text" id="hargaRata" name="hargaRata"/></div></div>
#{list items:jenisHargaList, as:'jenisHarga'}
%{ff=jenisHarga_index-1}%
<div class="yui3-u-1-6"><div class="entriClass label">Laba ${jenisHarga.jnsHarga}</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input id="laba.${jenisHarga.idJnsHarga}" name="laba.${jenisHarga.idJnsHarga}" size="5"/></div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Harga ${jenisHarga.jnsHarga}</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input id="hargaJual.${jenisHarga.idJnsHarga}" name="hargaJual.${jenisHarga.idJnsHarga}"/></div></div>
#{/list}
<div class="yui3-u"><div class="entriClass"><input value="Simpan" id="simpan" name="simpan" type="submit"/>&nbsp;<input value="Reset" id="reset" type="button" onclick="window.location='@{StokControl.hargaObat()}'"/></div></div>
</fieldset>
</div>
<script>
$(function() {
	var listAction = #{jsAction @showHarga(':idObatAlat') /}
	$('#idObatAlat').live('ubah',function() {
		var key_obat=$('#key_idObatAlat').val();
		$.getJSON(listAction({idObatAlat:key_obat}),function(data) {
			$.each(data, function(key, val) {		
				$('[id="'+val.label+'"]').val(val.value);
			  });
		});
	});
});
</script>
#{/form}
#{if hasil!=null}<script>alert("${hasil}");</script>#{/if}