#{extends 'menu.html' /}
#{set title:'Harga Obat' /}
#{ifErrors}
<script>
$(function() {
	alert('Harap Anda Mengisi Data dengan Lengkap!');
})
</script>
#{/ifErrors}
#{form @StokControl.saveHarga(), method:'POST', id:'hargaForm'}
<div class="yui3-g" id="entri">
<fieldset><legend>Entri Harga Obat #{if idObatAlat!=null}<span class="error">(UPDATE)</span>#{/if}</legend>
<div class="yui3-u-1-6"><div class="entriClass label">Obat Alat</div></div>
<div class="yui3-u-5-6"><div class="entriClass">#{autocomplete id:'idObatAlat',name:'idObatAlat',url:@StokControl.autocompleteKodeObat(),size:'50',value:key_idObatAlat,label:labelObatAlat/}</div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Volume</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input type="text" id="volume" name="volume" readonly="readonly" value="${volumeObatAlat}"/></div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Tahun-Bulan Harga</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input id="thnBlnHarga" name="thnBlnHarga" readonly="readonly" value="${thnBlnHarga}"/></div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Harga Rata-rata</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input type="text" id="hargaRata" name="hargaRata" readonly="readonly" value="${hargaRata}"/></div></div>
#{list items:jenisHargaList, as:'jenisHarga'}
%{ff=jenisHarga_index-1}%
#{if hargaJual!=null}
%{labaTxt=laba.get(jenisHarga.idJnsHarga)
hargaTxt=hargaJual.get(jenisHarga.idJnsHarga)}%
#{/if}
<div class="yui3-u-1-6"><div class="entriClass label">Laba ${jenisHarga.jnsHarga}</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input id="laba.${jenisHarga.idJnsHarga}" name="laba.${jenisHarga.idJnsHarga}" size="5" onchange="hitungHarga('hargaRata','laba.${jenisHarga.idJnsHarga}','hargaJual.${jenisHarga.idJnsHarga}')" value="${labaTxt}"/></div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Harga ${jenisHarga.jnsHarga}</div></div>
<div class="yui3-u-5-6"><div class="entriClass"><input id="hargaJual.${jenisHarga.idJnsHarga}" name="hargaJual.${jenisHarga.idJnsHarga}" value="${hargaTxt}"/></div></div>
#{/list}
<div class="yui3-u"><div class="entriClass"><input value="Simpan" id="simpan" name="simpan" type="submit"/>&nbsp;<input value="Reset" id="reset" type="button" onclick="window.location='@{StokControl.hargaObat()}'"/></div></div>
</fieldset>
</div>
<script>
function hitungHarga(selectorName1,selectorName2,totalSelectorName) {
	var selector1 = $('[id="'+selectorName1+'"]');
	var selector2 = $('[id="'+selectorName2+'"]');
	var totalSelector = $('[id="'+totalSelectorName+'"]');
	totalSelector.val((100+parseInt(selector2.val()))*parseInt(selector1.val())/100);
}
$(function() {
	var listAction = #{jsAction @showHarga(':idObatAlat') /}
	$('#idObatAlat').live('ubah',function() {
		var key_obat=$('#key_idObatAlat').val();
		$.getJSON(listAction({idObatAlat:key_obat}),function(data) {
			$.each(data, function(key, val) {		
				$('[id="'+val.label+'"]').val(val.value);
			  });
		});
	});
});
</script>
#{/form}
#{if hasil!=null}<script>alert("${hasil}");</script>#{/if}