#{extends 'menu.html' /}
#{set title:'Stok Opname' /}
#{form @StokControl.saveOpname(), method:'POST', id:'opnameForm'}
<div class="yui3-g" id="entri">
<fieldset><legend>Entri Stok Opname #{if stokOpname.idStokOpname!=null}<span class="error">(UPDATE)</span>#{/if}</legend><input name="idStokOpname" type="hidden" value="${stokOpname.idStokOpname}"/>
<div class="yui3-u-1-6"><div class="entriClass label">Tanggal Stok Opname</div></div>
<div class="yui3-u-5-6"><div class="entriClass">#{dateTime id:'tglStokOpname', name:'tglStokOpname', value:stokOpname.tglStokOpname.format('dd-MM-yyyy')/}<span class="error">#{error 'tglStokOpname' /}</span></div></div>
<div class="yui3-u"><div class="entriClass"><input value="Simpan" id="simpan" type="submit"/>&nbsp;<input value="Reset" id="reset" type="button" onclick="window.location='@{StokControl.transaksi()}'"/>&nbsp;</div></div>
</fieldset>
</div>
#{/form}