#hd {
    text-align: center;
}
#main {
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    height: 600px;
}
legend {
	margin-left: 0.5em !important;
	letter-spacing: normal;
	word-spacing: normal;
}
fieldset {
	border: 1px solid !important;
}
#entri {
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#detil {
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	border: 2px solid;
}
.label {
	background-color: #c6cccc;
}
.header {
	background-color: silver;
}
.yui3-g {
	border-bottom: 1px solid #000;
}
.yui3-g .isi {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	text-align: center;
}
.entriClass {
	margin-right:5px;
	padding: 0.3em;
}
.error {
	color: red;