#hd {
    text-align: center;
}
#main {
    
}
legend {
	margin-left: 0.5em !important;
	letter-spacing: normal;
	word-spacing: normal;
}
fieldset {
	border: 1px solid !important;
}
#entri {
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#detil {
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	border: 2px solid;
}
.yui3-g {
	border-bottom: 1px solid #000;
}
.yui3-g .isi {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	text-align: center;
}
.entriClass {
	margin-right:5px;
	padding: 0.3em;
}
#left,#right {
	height: 580px;
}
.bigEntriClass {
	margin-right:5px;
	padding: 0.3em;
	font-size: x-large;
}
.stokKosong {
	background-color: red;
}
.stokKurang {
	background-color: orange;
}
.stokKadaluarsa {
	background-color: maroon;
}
.stokAkanKadaluarsa {
	background-color: #ff2222;
}