<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Laporan Psikotropika</title>
</head>
<body>
<table border=1 cellpadding=0 cellspacing=0 width="1100">
<tr height=20 style='height:15.0pt'>
<td colspan="7" align="center">Rekapitulasi Sistem Pelaporan Psikotropika</td>
</tr>
<tr height=20 style='height:15.0pt'>
<td colspan="7" align="left">${blnNama}  ${thnFilter}</td>
</tr>
<tr height=20 style='height:15.0pt'>
  <td rowspan="2" width="2%">No</td>
  <td rowspan="2" width="20%">Psikotropika</td>
  <td rowspan="2" width="5%">Satuan</td>
  <td rowspan="2" width="15%">Saldo awal</td>
  <td width="20%">Pemasukan</td>
  <td width="20%">Pengeluaran</td>
  <td rowspan="2" width="10%">Saldo akhir</td>
 </tr>
 <tr height=20 style='height:15.0pt'>
  <td>Jumlah</td>
  <td>Jumlah</td>
 </tr> #{list items:psikotropikaList, as:'psikotropika_tmp'} #{if psikotropika_tmp.id_obat_alat!=null}
 <tr height=20 style='height:15.0pt'>
  <td align=right>${psikotropika_tmp_index}</td>
  <td align=right style='border-left:none'>${psikotropika_tmp.nama_obat_alat}</td>
  <td align=right style='border-left:none'>${psikotropika_tmp.satuan_obat_alat}</td>
  <td align=right style='border-left:none'>${psikotropika_tmp.stok_awal}</td>
  <td style='border-left:none'>${psikotropika_tmp.pemasukan_jumlah}</td>
  <td align=right style='border-left:none'>${psikotropika_tmp.pengeluaran_jumlah}</td>
  <td align=right style='border-left:none'>${psikotropika_tmp.stok_akhir}</td>
 </tr> #{/if} #{else}
 #{/else}	#{/list} 
</table>
</body>
</html>