#{extends 'menu.html' /}
#{set title:'Penjualan' /}
#{form @PenjualanControl.savePenjualan(), method:'POST', id:'penjualanForm'}
<div class="yui3-g" id="entri">
<fieldset><legend>Entri Penjualan #{if resep.idResep!=null}<span class="error">(UPDATE)</span>#{/if}</legend><input name="idResep" type="hidden" value="${resep.idResep}"/>
<div class="yui3-u-1-6"><div class="entriClass label">Kode Penjualan</div></div>
<div class="yui3-u-1-3"><div class="entriClass"><input id="kodeResep" name="kodeResep" value="${resep.kodeResep}" readonly="readonly"/></div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Tanggal Penjualan</div></div>
<div class="yui3-u-1-3"><div class="entriClass"><input id="tglPenjualan" name="tglPenjualan" value="${resep.tglPenjualan.format('dd-MM-yyyy')}" readonly="readonly"/></div></div>
<div class="yui3-u-1-6"><div class="bigEntriClass label">Kode Obat</div></div>
<div class="yui3-u-5-6"><div class="bigEntriClass">#{autocomplete id:'idObatAlat',name:'idObatAlat',url:@PenjualanControl.autocompleteKodeObat(),size:'50',value:key_idObatAlat,label:labelObatAlat/}</div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Stok Obat Alat</div></div>
<div class="yui3-u-1-3"><div class="entriClass"><input size="40" name="pilihStok" id="pilihStok" value="${stokObatAlat?.labelStok}"/><input type="hidden" size="40" name="key_pilihStok" id="key_pilihStok" value="${stokObatAlat?.idStok}"/></div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Jumlah Obat</div></div>
<div class="yui3-u-1-3"><div class="entriClass"><input id="jumlahObatAlat" name="jumlahObatAlat" value="${jumlahObatAlat}"/></div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Jenis Harga</div></div>
<div class="yui3-u-1-3"><div class="entriClass">#{select 'idJnsHarga', value:idJnsHarga, id:'idJnsHarga'}
#{list items:jenisHargaList, as:'jenisHarga'}
	#{option jenisHarga.idJnsHarga}${jenisHarga.jnsHarga}#{/option}
#{/list}
#{/select}</div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Harga Obat</div></div>
<div class="yui3-u-1-3"><div class="entriClass"><input id="hargaObatAlat" name="hargaObatAlat" value="${hargaObatAlat}" readonly="readonly"/></div></div>
<div class="yui3-u"><div class="entriClass"><input value="Simpan" id="simpan" name="simpan" type="submit"/>&nbsp;<input value="Reset" id="reset" type="button" onclick="window.location='@{PenjualanControl.transaksi()}'"/>&nbsp;#{if !resep.detailResepIdResep.isEmpty()}<input value="Tutup" id="tutup" name="simpan" type="submit" />#{/if}</div></div>
</fieldset>
</div>
#{/form}
<div id="baris">
<div class="yui3-u-1-2"><div class="isi header">Obat</div></div><div class="yui3-u-1-4"><div class="isi header">Qty</div></div><div class="yui3-u-1-4"><div class="isi header">Harga</div></div>
#{list items:resep.detailResepIdResep, as:'detilResep'}
<div class="yui3-u-1-2"><div class="isi ${detilResep.classBaris}">${detilResep.labelObatResep}</div></div><div class="yui3-u-1-4"><div class="isi ${detilResep.classBaris}">${detilResep.jmlObat}</div></div><div class="yui3-u-1-4"><div class="isi ${detilResep.classBaris}">${detilResep.labelHargaObat}</div></div>
#{/list}
<script>
$(function() {
	var listActionStok = #{jsAction @showStok(':idObatAlat') /}
	var listActionHarga = #{jsAction @showHargaStok(':idObatAlat',':idJnsHarga') /}
	$('#idJnsHarga').live('change',function() {
		var key_obat=$('#key_idObatAlat').val();
		var id_jns_harga=$('#idJnsHarga').val();
		$('#hargaObatAlat').val("");
		$.getJSON(listActionHarga({idObatAlat:key_obat,idJnsHarga:id_jns_harga}),function(data) {
			$.each(data, function(key, val) {
				if(val && val.label=='hargaObatAlat') {
					$('#hargaObatAlat').val(val.value);
				}
			  });
		});
	});
	$('#idObatAlat').live('ubah',function() {
		var key_obat=$('#key_idObatAlat').val();
		var id_jns_harga=$('#idJnsHarga').val();
		$('#hargaObatAlat').val("");
		$('#pilihStok').val("");
		$('#key_pilihStok').val("");
		$('#jumlahObatAlat').val("");
		$.getJSON(listActionHarga({idObatAlat:key_obat,idJnsHarga:id_jns_harga}),function(data) {
			$.each(data, function(key, val) {		
				$('[id="'+val.label+'"]').val(val.value);
			  });
		});
		$.getJSON(listActionStok({idObatAlat:key_obat}),function(data) {
			var $hidden = $("#key_pilihStok");
			if($hidden.length==0) {
				$hidden = $('<input type="hidden"/>').attr('name', "key_pilihStok").attr('id', "key_pilihStok");
			}
			var $input = $("#pilihStok");
			$input.after($hidden);			
			$input.autocomplete({
			    source: data,
			    focus: function(event, ui) {
			       // Set the text input value to the focused item's label, instead of the value.
			       $input.val(ui.item.label);
			       return false;
			    },
			    select: function(event, ui) {
			       // Save the selection item and value in the two inputs.
			       $input.val(ui.item.label);
			       $hidden.val(ui.item.value);
			       return false;
			    }
			});
			$input.val(data[0].label);
			$hidden.val(data[0].value);
		});		
	});
	$('[id^="pilihStok"]').live('focus',function() {
		var key_obat=$('#key_idObatAlat').val();
		$.getJSON(listActionStok({idObatAlat:key_obat}),function(data) {
			var $hidden = $("#key_pilihStok");
			if($hidden.length==0) {
				$hidden = $('<input type="hidden"/>').attr('name', "key_pilihStok").attr('id', "key_pilihStok");
			}
			var $input = $("#pilihStok");
			$input.after($hidden);			
			$input.autocomplete({
			    source: data,
			    focus: function(event, ui) {
			       // Set the text input value to the focused item's label, instead of the value.
			       $input.val(ui.item.label);
			       return false;
			    },
			    select: function(event, ui) {
			       // Save the selection item and value in the two inputs.
			       $input.val(ui.item.label);
			       $hidden.val(ui.item.value);
			       return false;
			    }
			});
			$input.autocomplete("search", " ");
		});		
	});
	#{if resep.stsTransaksi!=null}
	$('#tutup').attr('value','Buka').attr('id','buka');
	$(':input').not('#buka').attr('readonly', 'readonly');
	$(':input').not('#buka').unbind();
	$('#simpan').attr('disabled', 'disabled');
	#{/if}
});
</script>
</div>