#{extends 'menu.html' /}
#{set title:'Monitoring' /}
%{labelObatAlat = null
if(kodeObatAlat!=null)
labelObatAlat = kodeObatAlat+" - "+namaObatAlat}%
#{form @PembelianControl.cariPembelian(), method:'POST', id:'filterForm'}
<div class="yui3-g" id="entri">
<fieldset><legend>Filter Pembelian</legend>
<div class="yui3-u-1-6"><div class="entriClass label">Range Tgl Beli</div></div>
<div class="yui3-u-1-6"><div class="entriClass">#{dateTime id:'tglPembelianAwal', name:'tglPembelianAwal', value:tglPembelianAwal?.format('dd-MM-yyyy')/}</div></div>
<div class="yui3-u-1-6"><div class="entriClass">s/d</div></div>
<div class="yui3-u-1-2"><div class="entriClass">#{dateTime id:'tglPembelianAkhir', name:'tglPembelianAkhir', value:tglPembelianAkhir?.format('dd-MM-yyyy')/}</div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Supplier</div></div>
<div class="yui3-u-5-6"><div class="entriClass">#{autocomplete id:'idSupplier',name:'idSupplier',url:@PembelianControl.autocompleteSupplier(),size:'50',value:idSupplier,label:namaSupplier /}</div></div>
<div class="yui3-u-1-6"><div class="entriClass label">Obat/Alat</div></div>
<div class="yui3-u-5-6"><div class="entriClass">#{autocomplete id:'idObatAlat',name:'idObatAlat',url:@PembelianControl.autocompleteKodeObat(),size:'50',value:idObatAlat,label:labelObatAlat /}</div></div>
<div class="yui3-u"><div class="entriClass"><input value="Cari" id="cari" type="submit"/>&nbsp;<input value="Reset" id="reset" type="button" onclick="window.location='@{PembelianControl.monitoring()}'"/></div></div>
</fieldset>
</div>
#{customgrid class:'yui3-g',id:'hasilFilter'}
<div class="yui3-u-1-8"><div class="isi header">Tgl Beli</div></div><div class="yui3-u-1-8"><div class="isi header">Supplier</div></div><div class="yui3-u-1-8"><div class="isi header">Jml Terima A</div></div><div class="yui3-u-1-8"><div class="isi header">Jml Terima G</div></div><div class="yui3-u-1-8"><div class="isi header">Total</div></div><div class="yui3-u-1-8"><div class="isi header">Hrg Terima</div></div><div class="yui3-u-1-8"><div class="isi header">Total Diskon</div></div><div class="yui3-u-1-8"><div class="isi header">Hrg Total</div></div>
#{list items:pembelian, as:'pembelian_tmp'}
<div class="yui3-u-1-8"><div class="isi"><a href="@{PembelianControl.lihatPembelian(pembelian_tmp[0])}">${pembelian_tmp[1].format('dd-MM-yyyy')}</a></div></div><div class="yui3-u-1-8"><div class="isi">${pembelian_tmp[2]}</div></div><div class="yui3-u-1-8"><div class="isi">${pembelian_tmp[3]}</div></div><div class="yui3-u-1-8"><div class="isi">${pembelian_tmp[4]}</div></div><div class="yui3-u-1-8"><div class="isi">${pembelian_tmp[3]+pembelian_tmp[4]}</div></div><div class="yui3-u-1-8"><div class="isi">${pembelian_tmp[5]?pembelian_tmp[5]:0}</div></div><div class="yui3-u-1-8"><div class="isi">${pembelian_tmp[6]?pembelian_tmp[6]:0}</div></div><div class="yui3-u-1-8"><div class="isi">${(pembelian_tmp[5]?pembelian_tmp[5]:0)-(pembelian_tmp[6]?pembelian_tmp[6]:0)}</div></div>
#{/list}
#{/customgrid}
#{/form}