#{extends 'menu.html' /}
#{set title:'Pembelian' /}
#{ifErrors}
   <span class="error">Oops…</span>
#{/ifErrors}
#{form @PembelianControl.savePembelian(), method:'POST', id:'pembelianForm'}
<div class="yui3-g" id="entri">
<fieldset><legend>Entri Pembelian</legend>
<div class="yui3-u-1-6"><div class="entriClass">Tanggal Pembelian</div></div>
<div class="yui3-u-5-6"><div class="entriClass">#{dateTime name:'tglPembelian'}${tglPembelian.format('dd-MM-yyyy')}#{/dateTime}<span class="error">#{error 'tglPembelian' /}</span></div></div>
<div class="yui3-u-1-6"><div class="entriClass">Supplier</div></div>
<div class="yui3-u-5-6"><div class="entriClass">#{autocomplete name:'idSupplier',url:@PembelianControl.autocompleteSupplier(),size:'50' /}<span class="error">#{error 'idSupplier' /}</span></div></div>
<div class="yui3-u"><div class="entriClass"><input value="Simpan" id="simpan" type="submit"/></div></div>
</fieldset>
</div>
#{/form}
#{if hasil!=null}<script>alert("${hasil}");</script>#{/if}