#{extends 'menu.html' /}
#{set title:'Retur Pembelian' /}
#{ifErrors}
   <span class="error">Oops…</span>
#{/ifErrors}
<script>
function hitung(val1,val2,totalSelector) {
	totalSelector.val(parseInt(val1)+parseInt(val2));
}
function hitungGen(indeks) {
	hitung($('#returApotek'+indeks).val(),$('#returGudang'+indeks).val(),$('#totalRetur'+indeks));
}
</script>
#{form @PembelianControl.saveReturBeli(), method:'POST', id:'returBeliForm'}
<div class="yui3-g" id="entri">
<fieldset><legend>Entri Retur Pembelian #{if returPembelian.idReturBeli!=null}<span class="error">(UPDATE)</span>#{/if}</legend><input name="idReturBeli" type="hidden" value="${returPembelian.idReturBeli}"/>
<div class="yui3-u-1-5"><div class="entriClass label">Tanggal Retur Pembelian</div></div>
<div class="yui3-u-4-5"><div class="entriClass">#{dateTime id:'tglReturBeli', name:'tglReturBeli', value:returPembelian.tglReturBeli.format('dd-MM-yyyy')/}<span class="error">#{error 'tglReturBeli' /}</span></div></div>
<div class="yui3-u-1-5"><div class="entriClass label">Supplier</div></div>
<div class="yui3-u-4-5"><div class="entriClass">#{autocomplete id:'idSupplier',name:'idSupplier',url:@PembelianControl.autocompleteSupplier(),size:'50',value:returPembelian.idSupplier?.idSupplier,label:returPembelian.idSupplier?.namaSupplier /}<span class="error">#{error 'idSupplier' /}</span></div></div>
<div class="yui3-u-1-5"><div class="entriClass label">No Faktur Pembelian</div></div>
<div class="yui3-u-4-5"><div class="entriClass">#{autocomplete id:'noFakturBeli',name:'noFakturBeli',url:@PembelianControl.autocompleteFaktur(),size:'50',value:returPembelian.noFakturBeli,label:returPembelian.noFakturBeli /}<span class="error">#{error 'noFakturBeli' /}</span></div></div>
<div class="yui3-u-1-5"><div class="entriClass label">Deskripsi Retur Pembelian</div></div>
<div class="yui3-u-4-5"><div class="entriClass"><textarea id="descReturBeli" name="descReturBeli" rows="4" maxlength="500">${returPembelian.descReturBeli}</textarea><span class="error">#{error 'descReturBeli' /}</span></div></div>
<div class="yui3-u"><div class="entriClass"><input value="Simpan" id="simpan" name="simpan" type="submit"/>&nbsp;<input value="Reset" id="reset" type="button" onclick="window.location='@{PembelianControl.transaksi_retur()}'"/>&nbsp;#{if !returPembelian.detilReturPembelianIdReturBeli.isEmpty()}<input value="Tutup" id="tutup" type="submit" />#{/if}</div></div>
</fieldset>
</div>
#{customgrid class:'yui3-g',id:'detilReturPembelian'}
<div class="yui3-u-3-4"><div class="isi header">Obat</div></div><div class="yui3-u-1-4"><div class="isi header">Qty</div></div>
<div class="yui3-u-3-8"><div class="isi header">Kode-Nama</div></div><div class="yui3-u-3-8"><div class="isi header">Kadaluarsa</div></div><div class="yui3-u-1-12"><div class="isi header">Apotek</div></div><div class="yui3-u-1-12"><div class="isi header">Gudang</div></div><div class="yui3-u-1-12"><div class="isi header">Total</div></div>
<div id="baris">
#{list items:returPembelian.detilReturPembelianIdReturBeli, as:'detilReturPembelian'}
%{ x=detilReturPembelian_index-1 }%
<div class="yui3-u-3-8"><div class="isi">#{autocomplete id:'kode_obat_'+x+'',name:'kode_obat['+x+']',url:@PembelianControl.autocompleteKodeObat(),size:'50',value:detilReturPembelian.idStok.idObatAlat,label:detilReturPembelian.idStok.idObatAlat?.kodeObatAlat+" - "+detilReturPembelian.idStok.idObatAlat?.namaObatAlat /}</div></div>
<div class="yui3-u-3-8"><div class="isi"><input size="40" name="pilihStok[${x}]" id="pilihStok_${x}" value="${detilReturPembelian.idStok.labelStok}"/><input size="40" type="hidden" name="key_pilihStok[${x}]" id="key_pilihStok_${x}" value="${detilReturPembelian.idStok.idStok}"/></div></div>
<div class="yui3-u-1-12"><div class="isi"><input name="returApotek[${x}]" id="returApotek_${x}" size="6" value="${detilReturPembelian.jmlReturBeliApotek}" onchange="hitung($('#returApotek_${x}').val(),$('#returGudang_${x}').val(),$('#totalRetur_${x}'));"/></div></div>
<div class="yui3-u-1-12"><div class="isi"><input  name="returGudang[${x}]" id="returGudang_${x}" size="6" value="${detilReturPembelian.jmlReturBeliGudang}" onchange="hitung($('#returApotek_${x}').val(),$('#returGudang_${x}').val(),$('#totalRetur_${x}'));"/></div></div>
<div class="yui3-u-1-12"><div class="isi"><input name="totalRetur[${x}]" id="totalRetur_${x}" size="6" disabled="disabled" value="${detilReturPembelian.jmlReturBeliApotek+detilReturPembelian.jmlReturBeliGudang}"/></div></div>
#{/list}
#{else}
<div class="yui3-u-3-8"><div class="isi">#{autocomplete id:'kode_obat_0',name:'kode_obat[0]',url:@PembelianControl.autocompleteKodeObat(),size:'50' /}</div></div>
<div class="yui3-u-3-8"><div class="isi"><input size="40" name="pilihStok[0]" id="pilihStok_0" /></div></div>
<div class="yui3-u-1-12"><div class="isi"><input name="returApotek[0]" id="returApotek_0" size="6" value="0" onchange="hitungGen($(this).attr('id').substring($(this).attr('id').lastIndexOf('_')));"/></div></div>
<div class="yui3-u-1-12"><div class="isi"><input name="returGudang[0]" id="returGudang_0" size="6" value="0" onchange="hitungGen($(this).attr('id').substring($(this).attr('id').lastIndexOf('_')));"/></div></div>
<div class="yui3-u-1-12"><div class="isi"><input name="totalRetur[0]" id="totalRetur_0" size="6" value="0" disabled="disabled"/></div></div>
#{/else}
</div>
#{/customgrid}
<script type="text/javascript">
$(function() {
	var listAction = #{jsAction @showStok(':idObatAlat') /}
	$('[id^="pilihStok"]').live('focus',function() {
		var indeks=$(this).attr('id').substring($(this).attr('id').lastIndexOf("_"));
		var indek=$(this).attr('id').substring($(this).attr('id').lastIndexOf("_")+1);
		var key_obat=$('#key_kode_obat'+indeks).val();
		$.getJSON(listAction({idObatAlat:key_obat}),function(data) {
			var $hidden = $("#key_pilihStok"+indeks);
			if($hidden.length==0) {
				$hidden = $('<input type="hidden"/>').attr('name', "key_pilihStok["+indek+"]").attr('id', "key_pilihStok"+indeks);
			}
			var $input = $("#pilihStok"+indeks);
			$input.after($hidden);
			$input.autocomplete({
			    source: data,
			    focus: function(event, ui) {
			       // Set the text input value to the focused item's label, instead of the value.
			       $input.val(ui.item.label);
			       return false;
			    },
			    select: function(event, ui) {
			       // Save the selection item and value in the two inputs.
			       $input.val(ui.item.label);
			       $hidden.val(ui.item.value);
			       return false;
			    }
			});
			$input.autocomplete("search", " ");
		});		
	});
	});
</script>
#{/form}
#{if hasil!=null}<script>alert("${hasil}");</script>#{/if}